<div id="menu">
<span class="title">Alan Canales</span>
<ul>
<li><%= link_to "About",   '/about' %></li>
<li><%= link_to "Blog",   '/blog' %></li>
<li><%= link_to "Bookshelf",   '/bookshelf' %></li>
<li><%= link_to "People",   '/people' %></li>
<li><%= link_to "Work",   '/work' %></li>
</ul>
</div>
<div id="left">&nbsp;</div>